@import "tailwindcss";

@theme {
  --color-brand-pink-og: #EC4899;
  --color-brand-pink-dark: #EC4899;
  --color-brand-black-og: #222;
  --color-brand-black-dark: #111;
  --color-brand-white-og: #ffffff;
  
  /* I also added your original OKLCH color as a variable */
  --color-brand-offwhite: oklch(98.7% 0.022 95.277);
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #fffefc;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
}

:root{
  scroll-behavior: smooth;
  scroll-padding-top: 1rem;
}