@import "tailwindcss";

body {
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: oklch(98.7% 0.022 95.277);
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
}